@import  "../css/import/variables.css";
@import  "../css/import/links.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  font-family: var(--ff-body);
  background: var(--clr-light);
  color: var(--clr-text);
}

h1, h2, h3 {
  font-weight: var(--fw-bold);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.95rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

h2, h3, h4 {
  color: var(--clr-action);
}

img {
  display: block;
  width: 100%;
}

.container {
  width: min(100% - 100px, 1200px);
  margin-inline: auto;
}

.flex, .split {
  display: flex;
  flex-direction: column;
}

/* HEADER */
header {
  background: var(--clr-light);
  display: flex;
  flex-direction: row;
  padding: 20px;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 999;
  opacity: 0.9;
  align-items: center;
}

.logo span {
  color: var(--clr-action);
}

iconify-icon {
  font-size: 2.5rem;
  color: var(--clr-action);
}

#hamburger-icon {
  margin-left: auto;
}

#hamburger-icon:hover {
  cursor: pointer;
}

nav {
  display: none;
  flex-direction: column;
  background: var(--clr-light);
  color: var(--clr-text);
  opacity: 0.9; 
  position: absolute;
  z-index: 999;
  right: 0;
  top: 0px;
  align-items: center;
  animation: displaynav 0.3s ease-in-out;
  transform-origin: right;
  border-radius: 0px 0px 0px 20px;
}

#close-menu__icon {
  align-self: flex-end;
  padding: 20px 20px 0px;
}

.display-nav {
  display: flex;
}

@keyframes displaynav {
  0% {
      transform: scaleX(0);
  }
  100% {
      transform: scaleX(1);
  }
}

nav ul {
  gap: 50px;
  padding: 50px;
}

nav li {
  display: block;
  text-transform: uppercase;
}

/* FOOTER */
.copy {
  background: var(--clr-dark);
  text-align: center;
  padding-block: 20px;
  font-size: 0.8rem;
}

/* ICONS */
.icon {
  width: 40px;
  outline: 4px solid transparent;
  border-radius: 50%;
  transition-property: outline-offset, outline-color;
  transition-duration: 0.25s;
}

.icon:hover {
  outline-offset: 4px;
  animation: shake 0.25s;
}

.icon-linkedin:hover {
  outline-color: #2d63bb;
}

.icon-github:hover {
  outline-color: #5f6bba;
}

.icon-instagram:hover {
  outline-color: #a02d76;
}

@keyframes shake {
  25%{transform: rotate(15deg);}
  50%{transform: rotate(-15deg);}
  75%{transform: rotate(15deg);}
  100%{transform: rotate(-15deg);}
}

.intro, .about, .skills, .portfolio, .contact {
  padding-block: 100px;
}

.about, .portfolio {
  background: var(--clr-dark);
}

/* INTRO */
.intro-wrapper {
  gap: 20px;
}

.intro-heading {
  flex-direction: row;
  align-items: baseline;
  text-transform: capitalize;
  font-size: 4rem;
}

.intro span {
  color: var(--clr-action);
}

.intro-content {
  gap: 5px;
}

/* ABOUT ME */
.about-wrapper {
  align-items: center;
  gap: 50px;
}

.heading {
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  text-align: center;
}

.heading div {
  position: relative;
  font-size: 4rem;
  font-weight: var(--fw-bold);
  color: var(--clr-light);
}

.heading h2 {
  position: absolute;
}

.about-content__wrapper {
  align-items: center;
  gap: 100px;
}

.about-image {
  position: relative;
}

.about__image {
  position: relative;
  background: var(--clr-light);
  width: 250px;
  height: 250px;
  z-index: 900;
}

.about-image__box {
  border: 5px solid var(--clr-action);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 20px;
  top: 20px;
}

.about-content {
  max-width: 500px;
}

.about-content h3 {
  font-size: 1.25rem;
}

.about-content, .about-content__details {
  gap: 30px;  
}

.about-content__item {
  gap: 5px;
}

.skills .heading div, .contact .heading div {
  color: var(--clr-dark);
}

/* SKILLS */
.skills-wrapper {
  gap: 50px;
  align-items: center;
}

.skills-content {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 600px;
}

.skills-item {
  box-shadow: 0px 0px 8px var(--clr-action);
  padding: 20px;
  align-items: center;
  gap: 20px;
  width: 125px;
  transition: all 0.25s ease-in-out;
}

.skills-item:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px var(--clr-action);
}

.skills-item h3 {
  font-size: 1.25rem;
  color: var(--clr-link);
}

.skills-icon {
  width: 40px;
}

/* PORTFOLIO */
.portfolio-wrapper {
  align-items: center;
  gap: 50px;
}

.project-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 100px;
}

.project {
  flex-direction: column-reverse;
  gap: 30px;
  box-shadow: 0px 0px 10px var(--clr-darkgrey);
  border-radius: 20px;
  padding: 20px;
  justify-content: flex-end;
}

.project:hover {
  box-shadow: 0px 0px 10px var(--clr-action);
  transition: all 0.25s ease-in-out;
}

.project-content {
  gap: 30px;
}

.project-details {
  gap: 5px;
}

.project-languages {
  flex-direction: row;
  gap: 10px;
}

.project-image img {
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  object-fit: cover;
}

/* CONTACT */
.contact-wrapper {
  gap: 50px;
  width: min(100% - 100px, 800px);
}

.bold {
  font-size: 1.5rem;
}

.contact-content {
  gap: 30px;
  align-items: center;
  text-align: center;
}

.contact-icons {
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}
